.App {
  text-align: center;

}

.header {
  display: flex;
  font: 50px arial;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(45deg, rgb(254,48,114), rgb(255,89,64));
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}

p {
  font: 20px arial;
  text-align: center;
  
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}


input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 1px;
  padding: 5px;
  text-align: center;
  width: 200px;
}

.deploy-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, rgb(254,48,114), rgb(255,89,64));
  padding: 12px 30px;
  border-radius: 20px;
  border: none;
  transition: background 0.3s ease-in-out;
}

.deploy-button:hover{
  background: linear-gradient(260deg, rgb(254,48,114), rgb(255,89,64));
}

label {
  font: 20px arial;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
}

